*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Montserrat", sans-serif;
}

.none {
    display: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.f-size {
    font-size: 2vw;
    text-shadow: 2px 2px 2px black;
}

h2 {
    font-size: 2.5vw;
    text-shadow: 2px 2px 2px black;
}

button {
    text-decoration: none;
    border: 0;
    font-size: 2vw;
    background-color: white;
}

/* FADE ANIMATION */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* PAGE CSS */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aqua;

    /* debug */
    height: 100vw;
}

/* CAROSEl */
.carosel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: brown;    
}

/* BIG IMG CAROSEL */
.inner-carosel {
    width: 90%;
    height: 65%;
    border: 1px solid black;
}

.big-card-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.big-card-text {
    color: white;
    position: absolute;
    text-align: end;
    top: 2%;
    right: 2%;
    flex-wrap: wrap;
}

/* LITTLE IMG CAROSEL */
.inner-carosel-bottom {
    display: flex;
    position: relative;
    width: 90%;
    height: 18%;
    border: 1px solid black;
}

.little-card-container {
    height: 100%;
    width: 20%;
    border: 1px solid black;
}

.little-card-container:hover {
    border: 3px solid white;
}

.card-btn {
    height: 100%;
    width: 100%;
}

.btn-left {
    position: absolute;
    font-size: 2vw;
    background-color: white;
    border-radius: 50%;
    padding: 1%;
    opacity: .6;
    top: 40%;
    left: 2%;
}

.btn-right {
    position: absolute;
    font-size: 2vw;
    background-color: white;
    border-radius: 50%;
    padding: 1%;
    opacity: .6;
    top: 40%;
    right: 2%;
}

/* BUTTONS */
.inner-btns {
    width: 100%;
    height: 20%;
    background-color: blueviolet;
}